.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: $color-bg;
  color: $color-font;
  font-family: $font-main;
}
.center-column {
  margin: 0 15px;
  @include tablet() {
    margin: 0 25px;
  }
  @include desktop() {
    margin: 0 30px;
  }
}
.sections {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  @include tablet() {
    flex-direction: row;
  }
}
